*{
    overflow-x: clip;
}
header{ 
    display:flex;
    padding-inline-start: 100px;
    justify-content: space-between;
    box-shadow: 0px 4px 7px rgba(128, 128, 128, 0.534);
    align-items: center;
    background-color: white;
}
nav ul{
    display:flex;
    padding-inline-end: 100px;
    gap:30px;
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}
header nav ul li a:hover{
    color: red;
}
header nav i:hover{
    color: blueviolet;
}
header nav ul li a{
  text-decoration: none; 
  color: black;  
}
/* cards section */
cards{
    display: grid;
    margin-top: 400px;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    margin-inline: 50px;

}
.car{
    margin-left: 15px;
    background-color: bisque;
    padding: 70px 0px

}
.car h2,.car i,.car p{
    margin-bottom: 25px;
}
.car i{
    padding: 20px;
    border-radius: 38px;
    background-color: rgba(240, 255, 255, 0.653);
}

.pay{
    margin-left: 15px;
    background-color: lightblue;
    padding:70px 0px
}
.pay h3,.pay i,.pay p{
    margin-bottom: 25px;
}
.pay i{
    padding: 20px;
    border-radius: 38px;
    background-color: rgba(240, 255, 255, 0.653);
}

.shield{
    margin-left: 15px;
    background-color: lightgreen;
    padding:75px 0px
}
.shield h3,.shield i,.shield p{
    margin-bottom: 25px;
}
.shield i{
    padding: 20px;
    border-radius: 38px;
    background-color: rgba(240, 255, 255, 0.653);
}

.headphones{
    margin-left: 15px;
    background-color: lavender;
    padding:75px 0px
}
.headphones h3,.headphones i,.headphones p{
    margin-bottom: 25px;
}
.headphones i{
    padding: 20px;
    border-radius: 38px;
    background-color: rgba(240, 255, 255, 0.653);
}
/* Big Discounts Starts*/
.big{
    text-align: center;
}
.container-1{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
    grid-gap: 20px;
}
h3{
    margin-left: 10px;
}
.double{
    margin-top: 101px;
}
.plus{
    position: relative;
    left: 83%;
    top:-8%;
} 
p{
    margin-left: 10px;
}
.sofa-1{
     box-shadow: 3px 3px 2px grey;
}
.sofa-1 img{
    width:300px;
}
.sofa-1{
  border: 1px solid grey;
}
span{
    color: gold;
    margin-left: 10px;
}
/*New Arrivals Starts*/
.New{ 
   text-align: center; 
}
.container-2{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
    grid-gap:20px;
}
h3{
    margin-left: 10px;
}
p{
    margin-left: 10px;
}
.phone-1{
    box-shadow: 3px 3px 2px grey;
}
.phone-1 img{
    width:300px;
}
.phone-1{
  border: 1px solid grey;
}
.phone-2{
    height: 461px;
    width: 328px;
    border: 1px solid grey;
    box-shadow: 2px 3px 2px grey;
    position: relative;
    left: 352px;
    top: 4px;
}
.span{
  color: gold;
  margin-left: 10px;
}
.plus{
    position: relative;
    left: 83%;
    top:-8%;
    border-radius: 100px;
    
}
.plus:hover{
 color: white;
 background-color: blue;

}


/* Best Sales starts*/
.best{ 
   text-align: center; 
}
.container-3{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
    grid-gap:20px;
    padding-bottom: 20px;
    
}
h3{
    margin-left: 10px;
}
p{
    margin-left: 10px;
}
.Armsofa-1{
  border: 1px solid grey;
}

.Armsofa-1{
    box-shadow: 3px 3px 2px grey;
}
.Armsofa-1 img{
    width:300px;
}
.Armsofa-2{
    height: 461px;
    width: 328px;
    border: 1px solid grey;
    box-shadow: 2px 3px 2px grey;
    position: relative;
    left: 191px;
    top: 4px;
}
/* footer section starts*/
 footer{ 
    display:flex;
    justify-content: flex-start;
    background-color: rgb(18 51 108);
    color: white;
    justify-content: stretch;
    height: 239px;
    padding-top: 37px;
 }
 .titles{
    display: flex;
    flex: 1;
 }
 .mart,.titles,.sub-titles,.contact{
    text-align: start;
    padding-left: 40px;
 }
.paragra{
    font-size: 15px;  
}
