*{
    padding:0px;
    margin:0px;
    overflow-x: clip;
}

header{ 
    display: flex;
    padding-inline-start: 100px;
    justify-content: space-between;
    box-shadow: 0px 4px 7px rgba(128, 128, 128, 0.534);
    align-items: center;
    background-color: white;
    position: relative;
}
nav ul{
    display:flex;
    padding-inline-end: 100px;
    gap:30px;
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}
header nav ul li a{
  text-decoration: none; 
  color: black;  
}
/* banner section starts */
.banner{
    width:100%;  
    height: 191px;
    object-fit: cover;
}
.container{
    width:100%;
    height: 200px;
    position:relative;
    
}
.container h2{
    position: absolute;
    left: 50%;
    top: 41%;
    color:white;
}
/* products images starts */
.container-3{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    justify-content: center;
    margin-left: 80px;
    margin-right: 80px;
    grid-gap:30px;
    padding-bottom: 20px;
    margin-top: 80px;
    margin-bottom: 80px; 

}
.double{
    margin-top: 100px;
}
.plus{
    position: relative;
    left: 86%;
    top: 88%;
}
h3{
    margin-left:10px;
}
.Armsofa-1{
  border: 1px solid grey;
}

.Armsofa-1{
    box-shadow: 3px 3px 2px grey;
}
.Armsofa-1 img{
    width:300px;
}
span{
    color: gold;
    margin-left: 10px;
}
p{
    margin-left: 15px;
}
.Armsofa-2{
    height: 366px;
    width: 328px;
    border: 1px solid grey;
    box-shadow: 2px 3px 2px grey;
    position: relative;
    left: 191px;
    top: 4px;
}
/* footer section starts*/
footer{  
    display:grid;
    grid-template-columns: 15% 75%;
    background-color: rgb(18 51 108);
    padding-left: 10%;
    padding-top: 50px;
    padding-bottom: 100px;  
}
h2{
    color:white;
}
.titles{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-inline-start:50px;
    align-items: center;
    text-align: start; 
}

footer div ul li a{
    list-style: none;
    text-decoration: none;
}
ul li{
    color:rgb(182, 181, 181);
}
.para{
   color:rgb(182, 181, 181); 
}

.sub-titles{
    margin-inline-start: 40px;
}
.titles .Contact .Contact{
    margin-top: 35px;
}
